body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#education-section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.education {
    margin-bottom: 20px;
}

.education h2 {
    color: #333;
}

.date {
    color: #555;
}

.description {
    color: #777;
}

.school-image {
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.school-link {
    display: block;
    text-align: center;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}