/* Default styles for all screens */
a {
    text-decoration: none;
    color: aliceblue;
}

body {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    border: 2px solid;
    font-size: 14px;
    border-radius: 20px;
    width: auto;
    justify-content: center;
    margin: 15px;
}

.main-div {
    margin-top: 15px;
    justify-content: center;
    justify-items: center;
}

#personal-ethos {
    justify-content: center;
    margin: 20px;
    height: 200px;
    font-size: 18px;
}

#personal-ethos p {
    justify-content: center;
    font-size: large;
    margin: 10px;
    display: flex;
    text-align: justify;
    margin-top: 50px;
    text-align: left;
    white-space: pre-line;
    margin-top: 25%;
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #personal-ethos {
        height: auto;
    }

    #personal-ethos p {
        margin-top: 10%;
    }
}
